 .cert-grant__overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 10;
}
.cert-grant__modal-container{
    /* max-width: 500px; */
    padding: 3rem;
    width: 70%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 15%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    color: var(--_dark);
    font-family: var(--_inter);
    text-align: center;
}

.cert .cert-grant__modal-container .topElement .logo{
    height: 5rem;
    width: 10rem;
    top: 10%;
    bottom: 10%;
    left: 44%;
    position: fixed;
}

.cert .completion{
    top: 40%;
    padding-left: 35%;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: wavy;
    text-align: center;
    display: flex;
    color: black;
}
.cert .smallText{
    padding-left: 42%;
    font-size: 1em;
    text-decoration: wavy;
    text-align: center;
    display: flex;
    color: black;
}
.cert .studentName{
    padding-left: 28%;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    position: fixed;
    display: flex;
    color: blue;
}

.cert .middleText{
    padding-left: 32%;
    font-size: 1em;
    text-align: center;
    display: flex;
    color: black;
}

.cert .courseName{
    padding-left: 42%;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    display: flex;
    color: red;
}

.cert .instructorName{
    padding-left: 24%;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    position: fixed;
    display: flex;
    color: black;
}
.cert .instructorText{
    padding-left: 27%;
    font-size: 1em;
    text-align: center;
    position: fixed;
    display: flex;
    color: black;
}