.createCourse {
    background-color: var(--_light);
    color: var(--_mid-grey);
    font-family: var(--_worksans);
    margin: 0;
    padding: 3% 6%;
}
.createCourse .edit-course-container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
    border: 1px solid yellow;
}
/* .createCourse .section-grid{
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr, 3fr;
}
.createCourse .section-grid:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.createCourse .section-grid:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/2;
}
.createCourse .section-grid:nth-child(3){
    grid-column: 2/2;
    grid-row: 2/2;
} */
.createCourse .article-flex{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: var(--_box-shadow);
}
.createCourse__text-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.createCourse__files-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.createCourse__text-inputs input{
    font-size: 1.5rem;
    border: none;
    font-style: italic;
    font-weight: 400;
}
.createCourse__text-inputs textarea{
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}



.createCourse .course-head{
    background-image: url(../images/header_bg.png);
    border: 1px solid rgb(38, 0, 255);
}
.createCourse .course-head__textbox{
    border-radius: 5px;
    background: var(--_pure-white);
    box-shadow: var(--_box-shadow);
}
.createCourse__thumbnail{
    width: 100px;
}

.createCourse .added-chapter{
    background-color: var(--_pure-white);
    border: 1px solid rgb(255, 0, 170);
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
    padding: 1rem 2rem;
}
.added-chapter__chapter{
    border: 1px solid rgb(255, 60, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.createCourse .chapter-texts{
    width: 45%;
}
.createCourse .chapter-files{
    width: 45%;
}
/* .createCourse .individual-chapter-file{

} */
.createCourse .chapter-title{
    font-size: 1.5rem;
}
.createCourse .chapter-description{
    font-size: 1rem;
}
.createCourse .add-new-chapter{
    background-color: var(--_pure-white);
    border: 1px solid rgb(0, 255, 34);
}
.createCourse .centered-btn{
    text-align: center;
}
.createCourse .save-course-btn{
    color: var(--_pure-white);
    background-color: var(--_accent-orange);
    font: var(--_worksans);
    text-decoration: none;
    margin-top: 3vh;
}