.editCourse {
    background-color: var(--_light);
    color: var(--_mid-grey);
    font-family: var(--_worksans);
    margin: 0;
    padding: 3% 6%;
    position: relative;
}
.editCourse__page-title{
    font-size: 1.5rem;
    color: #c0c0c0;
    margin-bottom: 1.5rem;
}
.editCourse .edit-course-container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
}

.editCourse .article-flex{
    display: flex;
    flex-direction: row;
    gap: 3%;
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: var(--_box-shadow);
}
.editCourse__text-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}
.editCourse__files-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}
.editCourse__files-buttons .btn{
    border-radius: 5px;
    font-family: var(--_worksans);
    font-weight: 500;
    cursor: pointer;
}
.editCourse__upload-btn{
    background: transparent;
    border: 1.5px solid #FFFFFF;
    cursor: pointer;
    color: var(--_dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 100px;
    padding: 0.2rem 0;
}
.editCourse__upload-btn:hover{
    background: var(--_pure-white);
}
.editCourse__text-inputs input{
    font-size: 1.5rem;
    border: none;
    font-weight: 400;
}
.editCourse__text-inputs textarea{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--_inter);
    font-weight: 400;
}
.editCourse .delete-btn:hover{
    cursor: pointer;
}
.editCourse .delete-btn:hover path{
    stroke: var(--_red);
}




.editCourse .course-head{
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.editCourse .course-head input[type='file']{
    color: var(--_pure-white);
}
.course-head ::-webkit-file-upload-button{
    color: var(--_dark);
    background: var(--_pure-white);
    border: none;
    font-family: var(--_worksans);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.course-head ::-webkit-file-upload-button:hover{
    background: #e2e4eb;
}
.editCourse .course-head__textbox{
    border-radius: 5px;
    background: var(--_pure-white);
    box-shadow: var(--_box-shadow);
    padding: 0.5rem 1rem;
}
.editCourse__thumbnail{
    /* width: 100px; */
    height: 200px;
}
.editCourse__header-lower-btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: auto;
}
.editCourse__editExam-btn{
    border: none;
    color: var(--_pure-white);
    background: none;
    padding: 0.5rem 1rem;
}
.editCourse__editExam-btn:hover{
    background: #d9d9d994;
}
.editCourse__edit-course-btn{
    border: none;
    color: var(--_pure-white);
    background: var(--_prim-blue);
    padding: 0.5rem 1rem;
}
.editCourse__edit-course-btn:hover{
    background: #0062ff;
}


.editCourse .added-chapter{
    /* background-color: var(--_pure-white); */
    /* border: 1px solid rgb(255, 0, 170); */
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
    border-radius: 15px;
    /* padding: 1rem 2rem; */
}
.added-chapter__chapter{
    /* border: 1px solid rgb(255, 60, 0); */
    background: var(--_pure-white);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-radius: 15px;
    border-bottom: 2px solid var(--_def-grey);
}
.editCourse .chapter-texts{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.editCourse .chapter-texts .chapter-title{
    font-size: 1.5rem;
    border-bottom: 2px solid var(--_def-grey);
    margin-bottom: 1rem;
}
.editCourse .chapter-texts img{
    height: 200px;
}
.editCourse .edit-text-btn{
    align-self: flex-end;
    color: var(--_dark);
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    width: 220px;
    cursor: pointer;
}
.editCourse .edit-text-btn:hover path{
    stroke: var(--_accent-orange);
    fill: var(--_accent-orange);
}
.editCourse .edit-text-btn:hover{
    color: var(--_accent-orange);
}
.editCourse .edit-text-btn span{
    margin-right: 0.3rem;
}
.editCourse .chapter-files{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.editCourse .chapter-files__label{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
/* .editCourse .chapter-files__files{

} */
.editCourse .chapter-files__icons{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.editCourse .individual-chapter-file{
    font-size: 0.8rem;
    background-color: #eeeded;
    border-radius: 5px;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
}
.editCourse .individual-chapter-file div{
    align-self: flex-end;
}
.editCourse .chapter-title{
    font-size: 1.5rem;
}
.editCourse .chapter-description{
    font-size: 1rem;
}
.editCourse__text-inputs input[type="text"]{
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--_def-grey);
}
.editCourse__text-inputs input[type="text"]:focus{
    outline: none;
}
.editCourse .add-new-chapter{
    padding-bottom: 80px;
}
.add-new-chapter .editCourse__files-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.editCourse__files-btns{
    margin-top: 15%;
}
.editCourse .button-upload ::-webkit-file-upload-button{
    color: var(--_dark);
    background: var(--_def-grey);
    border: none;
    font-family: var(--_worksans);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.editCourse .button-upload  ::-webkit-file-upload-button:hover{
    background: #e2e4eb;
}
.editCourse__upload-btn{
    background: transparent;
    border: 1.5px solid var(--_def-grey);
    border-radius: 5px;
    cursor: pointer;
    color: var(--_dark);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 150px;
    min-width: 100px;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
}
.editCourse__upload-btn:hover{
    background: #e2e4eb;
}
.editCourse .add-new-chapter{
    background-color: var(--_pure-white);
}
.add-new-chapter .editCourse__edit-course-btn{
    border-radius: 5px;
    width: 40%;
    align-self: flex-end;
    margin-top: auto;
    cursor: pointer;
}
.editCourse .centered-btn{
    text-align: end;
}
.editCourse .save-course-btn{
    color: var(--_pure-white);
    background-color: var(--_accent-orange);
    border: none;
    font: var(--_worksans);
    text-decoration: none;
    margin-top: 3vh;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.editCourse .save-course-btn:hover{
    background: #f4b14c;
}
.editCourse .delete{
    background-color: #c16363;
    margin-left: 35%;
}
.editCourse .delete:hover{
    background-color: var(--_red);
}