.faqs{
    box-sizing: border-box;
    margin: 0;
    padding: 4% 8%;
    font-family: var(--_worksans);
    font-weight: 500;
}
/* .faqs__content{
    width: 60%;
    margin: 20vh auto;
    overflow-y: auto;
} */
.faqs__home-btn{
    border-radius: 10px;
    background: var(--_def-grey);
    text-decoration: none;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 1.5rem;
}
.faqs__header{
    font-size: 3rem;
    color: var(--_dark);
    margin-bottom: 10px;
    margin-top: 10px;
}
.faqs__card{
    width: 90%;
    background: #EAF0F3;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 2rem;

}
.faqs__card-title{
    color: var(--_prim-blue);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.faqs__card-content{
    text-align: justify;
}