*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    padding:0px;
    background-color:#EAF0F3; 
}

.container1{
    background-image:url('../components/images/backgrounddesign1.png');
    background-size:cover;
    background-position:center;
}
.container2{
    
}
.container3{

}