.desktop {
    background-color: #eaf0f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: var(--light);
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .pngtreecartoon-man {
    height: 702px;
    left: 127px;
    object-fit: cover;
    position: absolute;
    top: 161px;
    width: 593px;
  }
  
  .desktop .text-wrapper {
    color: var(--yellowngachoy);
    font-family: "Work Sans-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 786px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 399px;
    width: 596px;
  }
  
  .desktop .everyone-agrees-with {
    color: var(--primary-blue);
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 825px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 516px;
    width: 518px;
  }
  
  .desktop .rectangle {
    background-color: blue;
    border-radius: 43.36px;
    box-shadow: 0px 3.94px 15.74px 2.95px #00000040;
    height: 135px;
    left: 899px;
    position: absolute;
    top: 696px;
    width: 370px;
  }
  
  .desktop .copy-of-software {
    height: 262px;
    left: 908px;
    object-fit: cover;
    position: absolute;
    top: 102px;
    width: 353px;
  }

  .container2{
        background-color: #eaf0f3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
  }
