<<<<<<< HEAD
.desktop {
=======
.userSettings .desktop {
>>>>>>> main
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
<<<<<<< HEAD
  .desktop .frame-wrapper {
=======
  .userSettings .desktop .frame-wrapper {
>>>>>>> main
    background-color: #ffffff;
    height: 1024px;
    width: 1440px;
  }
  
<<<<<<< HEAD
  .desktop .frame {
=======
  .userSettings .desktop .frame {
>>>>>>> main
    background-color: #d0d0d0;
    border-radius: 50px;
    height: 553px;
    left: 252px;
    overflow: hidden;
    position: relative;
    top: 209px;
    width: 936px;
  }
  
<<<<<<< HEAD
  .desktop .overlap {
=======
  .userSettings .desktop .overlap {
>>>>>>> main
    background-color: #f7cb6a;
    border-radius: 50px 0px 0px 50px;
    height: 553px;
    left: 0;
    position: absolute;
    top: 0;
    width: 385px;
<<<<<<< HEAD
  }
  
  .desktop .ellipse {
=======
    padding: 3rem 6rem;
  }
  
  .userSettings .desktop .ellipse {
>>>>>>> main
    height: 150px;
    left: 117px;
    object-fit: cover;
    position: absolute;
    top: 127px;
    width: 150px;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper {
=======
  .userSettings .desktop .text-wrapper {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 321px;
  }
  
<<<<<<< HEAD
  .desktop .div {
=======
  .userSettings .desktop .div {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 136px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 381px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .icon-edit {
=======
  .userSettings .desktop .icon-edit {
>>>>>>> main
    height: 35px;
    left: 175px;
    position: absolute;
    top: 439px;
    width: 35px;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-2 {
=======
  .userSettings  .desktop .text-wrapper-2 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 520px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 101px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .rectangle {
=======
  .userSettings .desktop .rectangle {
>>>>>>> main
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 77px;
    width: 487px;
  }
  
<<<<<<< HEAD
  .desktop .rectangle-2 {
=======
  .userSettings .desktop .rectangle-2 {
>>>>>>> main
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 158px;
    width: 487px;
  }
  
<<<<<<< HEAD
  .desktop .rectangle-3 {
=======
  .userSettings  .desktop .rectangle-3 {
>>>>>>> main
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 346px;
    width: 487px;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-3 {
=======
  .userSettings  .desktop .text-wrapper-3 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-4 {
=======
  .userSettings  .desktop .text-wrapper-4 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 114px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-5 {
=======
  .userSettings .desktop .text-wrapper-5 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 219px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-6 {
=======
  .userSettings  .desktop .text-wrapper-6 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 177px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .p {
=======
  .userSettings  .desktop .p {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 360px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-7 {
=======
  .userSettings  .desktop .text-wrapper-7 {
>>>>>>> main
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 248px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .overlap-group {
=======
  .userSettings  .desktop .overlap-group {
>>>>>>> main
    background-color: #226ce0;
    border-radius: 50px;
    height: 31px;
    left: 599px;
    position: absolute;
    top: 291px;
    width: 106px;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-8 {
=======
  .userSettings  .desktop .text-wrapper-8 {
>>>>>>> main
    color: #f1bf19;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
<<<<<<< HEAD
  .desktop .div-wrapper {
=======
  .userSettings .desktop .div-wrapper {
>>>>>>> main
    background-color: #226ce0;
    border-radius: 50px;
    height: 65px;
    left: 525px;
    position: absolute;
    top: 407px;
    width: 252px;
  }
  
<<<<<<< HEAD
  .desktop .text-wrapper-9 {
=======
  .userSettings  .desktop .text-wrapper-9 {
>>>>>>> main
    color: #f1bf19;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
<<<<<<< HEAD
  }
=======
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.userSettings__profile-pic{
    background-color: var(--_def-grey);
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.userSettings__profile-pic img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
>>>>>>> main
  