/* .userSettings .desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .userSettings .desktop .frame-wrapper {
    background-color: #ffffff;
    height: 1024px;
    width: 1440px;
  }
  
  .userSettings .desktop .frame {
    background-color: #d0d0d0;
    border-radius: 50px;
    height: 553px;
    left: 252px;
    overflow: hidden;
    position: relative;
    top: 209px;
    width: 936px;
  }
  
  .userSettings .desktop .overlap {
    background-color: #f7cb6a;
    border-radius: 50px 0px 0px 50px;
    height: 553px;
    left: 0;
    position: absolute;
    top: 0;
    width: 385px;
    padding: 3rem 6rem;
  }
  
  .userSettings .desktop .ellipse {
    height: 150px;
    left: 117px;
    object-fit: cover;
    position: absolute;
    top: 127px;
    width: 150px;
  }
  
  .userSettings .desktop .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 321px;
  }
  
  .userSettings .desktop .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 136px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 381px;
    white-space: nowrap;
  }
  
  .userSettings .desktop .icon-edit {
    height: 35px;
    left: 175px;
    position: absolute;
    top: 439px;
    width: 35px;
  }
  
  .userSettings  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 520px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 101px;
    white-space: nowrap;
  }
  
  .userSettings .desktop .rectangle {
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 77px;
    width: 487px;
  }
  
  .userSettings .desktop .rectangle-2 {
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 158px;
    width: 487px;
  }
  
  .userSettings  .desktop .rectangle-3 {
    background-color: #ffffff;
    height: 3px;
    left: 408px;
    position: absolute;
    top: 346px;
    width: 487px;
  }
  
  .userSettings  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    white-space: nowrap;
  }
  
  .userSettings  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 114px;
    white-space: nowrap;
  }
  
  .userSettings .desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 219px;
    white-space: nowrap;
  }
  
  .userSettings  .desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 177px;
    white-space: nowrap;
  }
  
  .userSettings  .desktop .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 360px;
    white-space: nowrap;
  }
  
  .userSettings  .desktop .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 248px;
    white-space: nowrap;
  }
  
  .userSettings  .desktop .overlap-group {
    background-color: #226ce0;
    border-radius: 50px;
    height: 31px;
    left: 599px;
    position: absolute;
    top: 291px;
    width: 106px;
  }
  
  .userSettings  .desktop .text-wrapper-8 {
    color: #f1bf19;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .userSettings .desktop .div-wrapper {
    background-color: #226ce0;
    border-radius: 50px;
    height: 65px;
    left: 525px;
    position: absolute;
    top: 407px;
    width: 252px;
  }
  
  .userSettings  .desktop .text-wrapper-9 {
    color: #f1bf19;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.userSettings__profile-pic{
    background-color: var(--_def-grey);
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.userSettings__profile-pic img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
   */

.userSettings .desktop {
    background-color: #ffffff;
    width: 100%;
    height:100vh;
    padding: 100px 300px 100px 300px;
    display:flex;
  }
  
  .userSettings .desktop .frame {
    background-color: black;
    border-radius: 50px;
    width: 100%;
    display:flex;
    flex-direction: row;
  }
  .userSettings .desktop .frame .frame1{
    background-color:#f1bf19;
    height:100%;
    width: 40%;
    border-radius: 50px 0px 0px 50px;
    display:flex;
    margin:0 auto;
    flex-direction:column;
    align-items: center; 
    position: relative;
  }
  .userSettings .desktop .frame .frame2 {
    background-image: url('../images/screen_bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: transparent; 
    height: 100%;
    width: 60%;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding: 50px;
  }
  
  .userSettings .desktop .username-wrapper{
    padding:20px;
    display:flex;
    flex-direction:row;
    align-items:baseline;
    position:relative;
  }
  .userSettings .desktop .text-wrapper-Inter {
    color: #000000;
    font-family: var(--_inter);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .userSettings .desktop .text-wrapper-Inter-Username {
    color: var(--_light);
    font-family: var(--_inter);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .userSettings .desktop .text-wrapper-Worksans {
    color: var(--_light);
    font-family: var(--_worksans);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .userSettings .desktop .text-wrapper-Worksans-CreateCourse {
    color: var(--_light);
    font-family: var(--_worksans);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .userSettings .desktop .text-wrapper-Worksans-Nameright {
    color: black;
    font-family: var(--_worksans);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top:20px;
  }
  .userSettings .desktop .text-wrapper-Worksans-Nameleft {
    color: var(--_light);
    font-family: var(--_worksans);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-left:20px;
  }
  .userSettings .desktop .text-wrapper-editpp {
    color: #000000;
    font-family: var(--_inter);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top:40px;
  }
  
  .userSettings .desktop .rect{
    height:3px;
    width:100%;
    background-color:var(--_prim-blue);
    padding:3px;
  }

  
  .userSettings  .desktop .text-wrapper-9 {
    color: var(--_light);
    background-color:var(--_prim-blue);
    font-family: "Inter-Regular", Helvetica;
    padding:20px;
    font-size: 20px;
    font-weight: 400; 
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    margin-top:20px;
    border-radius: 30px;
  }
  .userSettings .desktop .text-wrapper-JoinNow{
    margin:0 auto;
    display:flex;
    padding :30px;
    flex-direction:column;
    align-items:center;
  }
.userSettings__profile-pic{
    margin-top:50px;
    background-color: transparent;
    border-radius: 50%;
    width:75%;
    height:50%;
}
.userSettings__profile-pic img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}